*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url('http://fonts.cdnfonts.com/css/borg');        
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  background-color: rgb(229, 249, 224);
  color: rgb(5, 5, 5);
}

img {
  max-width: 100%; 
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}
ul a{
  font-family: 'Island Moments', cursive;
  font-size: 32px;
  font-weight: 800;
}
li {
  color: darkgreen;
  /* color: aliceblue; */
  list-style-type: none;
}
a:hover{
  text-decoration: underline;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
#cart{
  color: darkgreen;
}
.container-md {
  max-width: 100rem;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3 rem;
  }
  .container-md {
    padding: 0 3 rem;
  }
}
.header {
  position:sticky;
  top: 0;
  width: 100%;
  height: fit-content;
  /* background-color: rgb(1, 22, 39); */
  background-color:  rgb(247, 247, 247);
  z-index: 1;
}
.nav {
  padding:  0;
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: darkslateblue;
  box-shadow: 0 5px 15px grey;
  z-index: 9;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-nav {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link.icon {
  font-size: 3rem;
}

.hamburger {
  display: none;
}

.cart-icon {
  display: none;
}
.hero-img{
    height: 600px;
    width: 900px;
    object-fit: contain;

}
.hero-content{
    width: 600px;
}
.hero-content h1 span{
  color: rgb(5, 5, 5);  
  /* color: rgb(148, 209, 190); */
    font-size: 5rem;
    font-weight: 700;
    display: block;
    font-family: 'Island Moments', cursive;;
    line-height: 1;
    /* text-shadow: 3px 3px 0 bisque, 4px 4px 0 rgb(157, 181, 178); */
}
.butn{
    display: inline-block;
    background-color: rgb(10, 88, 14);
    padding: 1.2rem 4rem;
    color: cornsilk;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 3rem;
}
.butn:hover{
  background-color: rgb(18, 165, 28);
  text-decoration: none;
}
.nav-items{
  margin-top: -30px;
}
.search-bar{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(18, 165, 35);
  font-size: 1.8rem;
  margin-left: -600px;
  height: 3rem;
  width: 500px;
  outline: none;
}
#search-icon{
  color: darkgreen;
}
#search-icon:hover{
cursor: pointer;
}
@media only screen and (max-width:768px){
  .menu{
      position: fixed;
      top: 0;
      left: -100%;
      width: 80%;
      max-width: 40rem;
      height: 100%;
      background-color: lightblue;
      transition: all 500ms ease-in-out;
      z-index: 100;
  }
  .menu.show{
      left: 0;
  }
  .top-nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(0, 65, 129);
      padding: 1rem 1.6rem;
  }


  .top-nav .close{
      color: white;
      font-size: 3rem;
      padding: 1rem;
      cursor: pointer;
  }

  .cart-icon{
      display: block;
      font-size: 3rem;
  }

  .hamburger{
      display: block;
      font-size: 3rem;
      padding: .5rem;
      cursor: pointer;
  }
  .nav-list{
      flex-direction: column;
      align-items: start;
      padding: 1rem 1.6rem;
  }

  .nav-link:link,
  .nav-link:visited{
      display: block;
      font-size: 2rem;
      padding: 1rem 0;
  }
  .nav.fix-nav .nav-link{
      color: rgb(0, 0, 61);
  }
  .nav-link.icon{
      display: none;
  }
  body.show::before{
      content:"";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(118, 122, 122);
      z-index: 4;
  }
  .nav .show{
      background-color: rgb(9, 41, 41);
      color: aliceblue;
  }
}
@media only screen and (max-width:1200px){
  .header .hero-img{
      right: -20%;
      bottom: -10%;
  }
  .hero-content{
      transform: translate(20%, -50%);
  }
  .hero-content h2{
      font-size: 2rem;
  }
  .hero-content h1 span{
     font-size: 5rem;
 }
 }
 .section{
  padding: 3rem 0 5rem 0;
}
.logo img{
  height: 100px;
  margin-left: 10%;
  margin-bottom: -65px;
}

/* main */
.sect1{
  position: relative;
  background-color: rgb(220, 240, 215);
  display: flex;
  justify-content: space-between;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 30px;
}
p{
  font-family:'Indie Flower', cursive;;
  line-height: 1.4rem;
  font-size: 30px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 30px;
  margin-right: 10px;

}
#sec21{
  width: 40%;
  height: 80%;
  
}
#sec22{
  padding-top: 10%;
  width: 60%;
  height: 80%;
    
}
#sec22 p{
text-align: center;
}
#tit{
  font-family: 'Island Moments', cursive;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: -20px;
  font-size: 38px;
}
.sect2{
  
  height: 85vh;
  margin-bottom: 50px;
  display: flex;
  
}
.sec1{ 
  width: 50%;
}
.sec1 p{
  padding: 15px;
}
#img1{
  object-fit: cover;
  margin: 0;
}
.card:hover{
  box-shadow: 0 2pt 5pt 3pt black;
}
.icon{
  margin-top: 15px;
}
h4{
  font-size: 25px;
  font-weight: 700;
  font-family: 'big shoulders display', cursive;
  transform: scaleY(1.8);
  letter-spacing: 0.3rem;
  
}

.text{

  /* background-color: burlywood; */
  height: 200px;
}
#card1{
background-color: rgb(156, 252, 151);

}
.img-card{
  margin-top: 5px;
  height: 45px;
}
#card2{
  background-color: rgb(80, 183, 86);
}
.btn{
  border: none;
  color: black;
  height:40px;
  width: 140px;
  border-radius: 49px;
  font-weight: 200;
  font-size: 23px;
  font-family: 'Lexend deca';
  background-color: white;
  padding: 10px auto;
}
#btn1:hover{
  height: 45px;
  width: 145px;
  background-color: rgb(156, 252, 151);;
  border: 1.8px solid white;
  color: white;
  cursor: pointer;
}
#btn2:hover{
  height: 45px;
  width: 145px;
  background-color: rgb(80, 183, 86);
  border: 1.8px solid white;
  color: white;
  cursor: pointer;
}



  /* products */

  .product{
    height: 45rem;
    background-color: rgb(97, 139, 74);
    box-shadow: 0 .5rem 1.5rem rgb(160, 153, 153);
    border-radius: 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
    width: 300px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 60px;
    }
    
.product:hover{
        box-shadow: 0 .5rem 1.5rem black;
    }
    .price p{
      font-family: 'Moon Dance', cursive;
      float: left;
      font-size: 22px;
      margin-top: 0px;
      color: black;
    }
    .product-header{
        position: relative;
        background-color: slategray;
        height: 35rem;
        transition: all 300ms ease-in-out;
        z-index: 0;
    }
    
    .product-header img{
        height: 100%;
        width: 300px;
    }
    .product-footer{
        padding:5px
    }
    
   
    
    .product:hover .product-header::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 1rem 1rem 0 0;
        background-color: rgb(8, 1, 1);
        opacity: 0.4;
        z-index: 1;
        transition: all 500ms ease-in-out;
    }
    
    .product-header .icons{
        position: absolute;
        top:50%;
        right: 2%;
        transform: translate(0,-50%) scale(0);
        z-index: 2;
        opacity: 0;
        transition: all 500ms ease-in-out;
    }
    
    .product-header .icons span{
        background-color: rgb(64, 83, 27);
        font-size: 2.5rem;
        display: block;
        border-radius: 50%;
        border: 0.5px solid white;
        padding: 1.5rem 1.6rem;
        line-height: 1rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
    
    .product-header .icons span i{
        transition: all 500ms ease-in-out;
    }
    
    .product-header .icons span:not(:last-child){
    margin-bottom: 1rem;
    }
    
    .product-header .icons span:hover{
        background: rgb(255, 231, 76);
        color: black;
        border: 0.5px solid black;
    }
    
    .product:hover .icons{
         opacity: 1;
         transform: translate(0,-50%) scale(1);
    }
    
    .product:hover .icons {
        display: block;
        margin-bottom: 1rem;
    }




 /* footer */
 .footer{
  background-color: rgb(180, 244, 205);
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-center{
  margin-right: 1rem;
}

.footer-container{
  height: fit-content;
  display: grid;
  
  grid-template-columns: repeat(4, 1fr);
  color: rgb(0, 0, 0);
}

.footer-center a:link,
.footer-center a:visited{
  display: block;
  color: black;
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-center a:hover{
    color: rgb(4, 80, 33);
}

.footer-center div{
    color: darkgrey;
    font-size: 1.4rem;
}

.footer-center h3{
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 996px){
  .hero-content{
    transform: translate(5%, 0%);
}
  .footer-container{
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
  }
      #sec21{
        width: 35%;
      }

      #sec22{
        padding-left: -90px;
      }
      .sect2{
        padding: 0;
      }

}

@media only screen and (max-width: 758px){
  .footer-container{
      grid-template-columns: 1fr;
  }
  #textslide{
    font-size: 19px;
  }
  .hero-content h1{
    font-size: 10px;
  }
  #acts{
    font-size: 18px;
  }
  .sect2{
    margin-bottom: 120px;
  }
  .sect1{
    display: inline;
  }
  
  .sec1{
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 400px){
  .sect2{
    margin-bottom: 140px;
    background-color: blue;
    display: inline;
  }
  #acts{
    font-size: 14px;
  }
  #textslide{
    font-size: 15px;
  }
  #sec21{
    margin: auto;
    margin-top: -120px;
    margin-bottom: 10px;
    width: 80%;
  }
  #sec22{
    margin: auto;
    margin-top: -140px;
    width: 80%;
  }
}